/**
 * Calendar App
 *
 * @author Raghu Nayyar
 * @author Georg Ehrke
 * @copyright 2016 Raghu Nayyar <beingminimal@gmail.com>
 * @copyright 2016 Georg Ehrke <oc.list@georgehrke.com>
 *
 * This library is free software; you can redistribute it and/or
 * modify it under the terms of the GNU AFFERO GENERAL PUBLIC LICENSE
 * License as published by the Free Software Foundation; either
 * version 3 of the License, or any later version.
 *
 * This library is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU AFFERO GENERAL PUBLIC LICENSE for more details.
 *
 * You should have received a copy of the GNU Affero General Public
 * License along with this library.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

#app-navigation .app-navigation-input {
	width: 95%;
}

#app-navigation .calendarlist-fieldset {
	padding: 0 5px;
}

#app-navigation .color-button {
	height: 25px;
	border: 0;
}

#app-navigation .close-button {
	height: 30px;
	width: 30px;
	padding: 0;
	position: relative;
}

#app-navigation .accept-button {
	width: 100%;
	padding: 8px;
}

#app-navigation .new-entity,
#app-navigation .subscription-title {
	display: block;
	width: 100%;
	line-height: 44px;
	padding: 0 44px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	color: #4d4d4d;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

#app-navigation .new-entity,
#app-navigation .new-entity .new-entity-title {
	cursor: pointer;
}

#app-navigation .new-entity .new-entity-title::before {
	left: 18px;
	position: absolute;
	font-size: 150%;
	content: '+';
}

#app-navigation .new-entity:hover {
	color: #000;
}

#app-navigation .add-new .new-accept-button {
	position: relative;
}

#app-navigation .add-new .color-button {
	height: 25px;
	border: 0;
	background: #1a1a1a;
}

.add-new-subscription .calendarlist-fieldset input {
	width: 130px;
	margin-right: 2px;
}

.add-new-subscription .calendarlist-fieldset select {
	width: 80px;
}

#app-navigation .app-navigation-list-item .calendarCheckbox,
#publicinformationscontainer .calendarCheckbox {
	position: absolute;
	margin-left: 17px;
	margin-top: 16px;
	width: 12px;
	height: 12px;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

#app-navigation .app-navigation-list-item .calendarCheckbox.unchecked {
	background: transparent !important;
}

#app-navigation .app-navigation-list-item .icon-loading-small {
	position: absolute;
	margin-left: 15px;
	margin-top: 14px;
}

#app-navigation .app-navigation-list-item .utils {
	height: 44px;
	padding: 0 5px 0 0;
}

#app-navigation .app-navigation-list-item .utils .action span {
	opacity: .3;
}

#app-navigation .app-navigation-list-item .utils .action.withitems span {
	opacity: .7 !important;
}

#app-navigation .app-navigation-list-item .utils .action span:hover {
	opacity: 1;
}

#app-navigation .app-navigation-list-item .active {
	/* Core Override */
	background: transparent !important;
}

#app-navigation .app-navigation-list-item .active a {
	/* Core Override */
	background-color: transparent !important;
}

#app-navigation .app-navigation-list-item .active:hover .calendarlist-icon {
	/* Core Override */
	background-color: transparent !important;
}

#app-navigation .app-navigation-list-item > a {
	padding: 0 66px 0 44px !important;
}

#app-navigation .app-navigation-list-item > a.calendar-list-cut-name {
	padding: 0 107px 0 44px !important;
}

#app-navigation .app-navigation-list-item .editfieldset {
	padding: 0 4px;
}

#app-navigation .app-navigation-list-item .editfieldset .calendartype {
	width: 100%;
}

#app-navigation .buttongroups .accept-button {
	width: 47%;
	padding: 17px;
	margin-right: 7px;
}

#app-navigation .editfieldset .close-button {
	width: 47%;
	padding: 17px;
}

#app-navigation .app-navigation-list-item .caldavURL input {
	width: 75%;
}

#app-navigation .app-navigation-entry-menu li {
	width: auto !important;
	float: inherit;
	height: 36px;
}

#app-navigation .app-navigation-entry-menu li button {
	float: inherit !important;
	margin: 0;
	padding: 0;
	width: 100% !important;
}

#app-navigation .app-navigation-entry-menu li span {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding-right: 10px;
	font-weight: 400;
	float: left;
}

#app-navigation .app-navigation-entry-menu li span.svg {
	padding: 5px;
	width: 36px;
	box-sizing: border-box;
}

#app-navigation .app-navigation-list-item .utils {
	display: inline-block;
}

#app-navigation .app-navigation-list-item .utils span.action.withitems {
	display: inline-block;
	vertical-align: top;
}

#app-navigation .app-navigation-list-item .utils .action span {
	display: inline-block;
	line-height: 20px;
	height: 20px;
	width: 16px;
	padding: 12px 6px;
	cursor: pointer;
	vertical-align: top;
}

#app-navigation .app-navigation-list-item .utils .action .icon-shared {
	padding: 12px 0;
}

#app-navigation .app-navigation-list-item span.calendarlist-icon.shared {
	width: 40px;
	opacity: 1;
	padding-left: 0;
	padding-right: 5px;
}

#app-navigation .app-navigation-list-item .calendar-share-list .utils .action span {
	padding: 0 6px;
}

#app-navigation .app-navigation-list-item:hover .utils.active {
	display: inline-block;
}

#app-navigation .app-navigation-list-item:hover .utils > a {
	background-color: transparent !important;
}

#app-navigation .refresh-shares {
	position: absolute;
	right: 15px;
	height: 15px;
	width: 15px;
	top: 15px;
	z-index: 1000;
}

#app-navigation > ul {
	height: auto;
}

/* ColorPicker overrides. */
.colorpicker {
	display: block;
	height: auto;
	padding-bottom: 3px;
	padding-top: 3px;
}

.colorpicker .colorpicker-list {
	display: flex;
	width: 100%;
	height: 100%;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.colorpicker .colorpicker-list li {
	height: 24px;
	width: 24px !important;
}

.colorpicker .colorpicker-list li.selected {
	border: 1px solid #333;
}

.colorpicker .colorpicker-list li.randomcolour {
	background-image: url('../../img/random.svg');
	background-repeat: no-repeat;
	background-position: center center;
}

/* scroll issues */
#scrollable {
	height: 80%;
}

/* Spacing */
#spacer {
	height: 44px;
}

/* Public */

#app-navigation .davbuttons {
	width: 100%;
	height: 44px;
}

#app-navigation .davbuttons .button {
	font-weight: normal;
	padding: 8px;
	width: 48%;
}

#app-navigation .davbuttons .button.first {
	margin-left: 5px;
	-webkit-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

#app-navigation .davbuttons .button.last {
	margin-left: -8px;
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.public-calendar-name {
	font-size: 20px;
	padding: 5px;
	border-radius: 5px;
	margin: 5px auto;
}

input.public-linkinput {
	width: 94%;
	margin: 6px auto;
}

#publicinformationscontainer .displayname {
	padding-left: 44px !important;
}

#publicinformationscontainer .calendarCheckbox {
	cursor: default;
	margin-top: 5px;
}

.public-ics-download {
	width: 100%;
	display: block;
	height: 25px;
	font-weight: 300;
	font-size: 14px;
	cursor: pointer;
	z-index: 10;
	padding: 7px 0 0;
	text-align: center;
	background-color: rgba(240, 240, 240, .9);
	border: 1px solid rgba(240, 240, 240, .9);
	background-position: 5%;
	border-radius: 3px;
	margin: 7px auto;
}

.integration-code {
	width: 93%;
	height: 100px;
	margin: 5px auto;
}

.public-left-side {
	margin: 100px 10px auto;
}

/* Publishing */
.publishing {
	margin: auto 10px;
}

.publication-tools {
	cursor: pointer;
	margin: 5px auto auto 5px;
}

input.mailerInput {
	width: 77%;
}

.mailerInput + button {
	height: 32px;
	margin-right: 0;
	width: 32px;
	vertical-align: bottom;
}

/* Calendar Sharing */
input.shareeInput {
	width: 89%;
	margin: 6px;
}

li.calendar-share-item {
	margin-left: 12px;
	width: 95% !important;
}

ul.dropdown-menu {
	max-height: 100px;
	overflow-y: scroll;
	border: 1px #ddd solid;
	border-radius: 0 0 3px 3px;
	margin-top: -7px;
	margin-left: 6px;
	width: 94%;
}

ul.dropdown-menu li {
	height: 25px;
}

ul.dropdown-menu li:last-child {
	border-bottom: none !important;
}

#app-navigation ul.dropdown-menu a {
	min-height: 22px;
	max-height: 22px;
	padding: 0 10px;
	line-height: 2;
}

ul.dropdown-menu li > a:hover {
	background-color: grey !important;
}

/* Fullcalendar modifications */

.fc th,
.fc .fc-axis,
.fc-day-grid-event .fc-time,
.fc-ltr .fc-basic-view .fc-day-number,
.fc-ltr .fc-basic-view .fc-week-number,
.fc-time-grid-event .fc-time {
	opacity: .8;
	font-size: 80%;
	font-weight: normal;
}

.fc-day-number.fc-other-month {
	opacity: .1 !important;
}

.fc td.fc-widget-header {
	border-top: none;
}

.fc th,
.fc td {
	border-left: none;
	border-bottom: none;
}

.fc-unthemed th,
.fc-unthemed td,
.fc-unthemed thead,
.fc-unthemed tbody,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-row,
.fc-unthemed .fc-popover {
	border-color: #f8f8f8;
}

/* properly size events */
.fc-event {
	font-size: 13px;
	line-height: initial;
	padding-left: 3px;
}
